---
import BaseLayout from "../layouts/BaseLayout.astro"

const pageTitle = "AlgoLab - Home"
---

<BaseLayout pageTitle={pageTitle}>
	<p>This is the home page of AlgoLab</p>
	<p>Here you can find all the tasks and challenges</p>
	<p>Click on the navigation bar to go to the tasks page</p>
</BaseLayout>
